@inject IHttpContextAccessor Accessor
@{
    var firstname_session = Accessor.HttpContext.Session.GetString("username");
    var userid_session = Accessor.HttpContext.Session.GetString("userid");
}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/11.1.5/sweetalert2.min.css" />

<div class="copyright mt-5 bg-light">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="copyright-menu">
                    <ul class="d-flex list-unstyled">
                        <li class="mx-2">
                            <a asp-action="Privacy" asp-controller="Home" class="text-dark text-decoration-none">Privacy Policy</a>
                            <a class="text-dark text-decoration-none" id="contact-link">contact us</a>
                        </li>
                        <input type="hidden" value="@userid_session" id="hiddeninput">
                    </ul>
                </div>
            </div>

        </div>
    </div>
</div>
<div id="modal-contact">
</div>
<div id="model"
     data-userid="@userid_session">
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/11.1.5/sweetalert2.min.js"></script>
