.split {
    height: 100%;
    width: 50%;
    top: 0;
    padding-top: 20px;
}

.container {
    position: relative;
}


/* .prev:hover,
  .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
  } */

.column {
    float: left;
    width: 16.66%;
}

.apply {
    border: 2px solid orange;
    border-radius: 20px;
    color: orange;
    background-color: white;
}

.main {
    font-family: Arial;
    width: 100%;
    display: block;
    margin: 0 auto;
}


.action {
    display: block;
    margin: 100px auto;
    width: 100%;
    text-align: center;
}

    .action a {
        display: inline-block;
        padding: 5px 10px;
        background: #f30;
        color: #fff;
        text-decoration: none;
    }

        .action a:hover {
            background: #000;
        }

.slick-dots {
    display: none;
}

.image {
    height: 70px;
    width: 64px;
}

.para {
    padding: 45px;
}

.copyright {
    padding: 28px 0;
}

    .copyright span,
    .copyright a {
        color: #414141;
    }

        .copyright a:hover {
            color: #007bff;
        }

.copyright-menu ul {
    text-align: left;
    margin: 0;
}

    .copyright-menu ul li a {
        text-decoration: none;
    }

.rights {
    text-align: right;
}
#toast-container > .toast-success {
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAADsSURBVEhLY2AYBfQMgf///3P8+/evAIgvA/FsIF+BavYDDWMBGroaSMMBiE8VC7AZDrIFaMFnii3AZTjUgsUUWUDA8OdAH6iQbQEhw4HyGsPEcKBXBIC4ARhex4G4BsjmweU1soIFaGg/WtoFZRIZdEvIMhxkCCjXIVsATV6gFGACs4Rsw0EGgIIH3QJYJgHSARQZDrWAB+jawzgs+Q2UO49D7jnRSRGoEFRILcdmEMWGI0cm0JJ2QpYA1RDvcmzJEWhABhD/pqrL0S0CWuABKgnRki9lLseS7g2AlqwHWQSKH4oKLrILpRGhEQCw2LiRUIa4lwAAAABJRU5ErkJggg==) !important;
    background-color: #00d68f;
}

#toast-container > .toast-info {
    background-color: #2f96b4;
}
.copyright-menu li {
    display: inline-block;
    padding-left: 20px;
}

.Border-black {
    border: 2px solid black;
    width: 90px;
    top: 7px;
}

.slick-dots {
    display: none !important;
}

.slider button {
    display: none !important;
}

.imgheight {
    height: 480px;
}

@media only screen and(max-width:768px) {
    .imgheight {
        display: none;
    }
}
