#profile_img {
    width: 90px;
    height: 90px;
}
.copyright {
    padding: 28px 0;
}

    .copyright span,
    .copyright a {
        color: #414141;
    }

        .copyright a:hover {
            color: #007bff;
        }

.copyright-menu ul {
    text-align: left;
    margin: 0;
}

    .copyright-menu ul li a {
        text-decoration: none;
    }

.rights {
    text-align: right;
}
.img-wrapper {
    position: relative;
}

    .img-wrapper:hover img {
        opacity: 0.5;
    }

    .img-wrapper:hover .icon {
        display: block;
    }

.icon {
    position: absolute;
    top: 13%;
        left:  36%;
}

.copyright-menu li {
    display: inline-block;
    padding-left: 20px;
}
.line2 {
    display:none;
}


.apply {
    border: 2px solid orange !important;
    color: orange !important;
    background-color: white;
}

#toast-container > .toast-success {
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAADsSURBVEhLY2AYBfQMgf///3P8+/evAIgvA/FsIF+BavYDDWMBGroaSMMBiE8VC7AZDrIFaMFnii3AZTjUgsUUWUDA8OdAH6iQbQEhw4HyGsPEcKBXBIC4ARhex4G4BsjmweU1soIFaGg/WtoFZRIZdEvIMhxkCCjXIVsATV6gFGACs4Rsw0EGgIIH3QJYJgHSARQZDrWAB+jawzgs+Q2UO49D7jnRSRGoEFRILcdmEMWGI0cm0JJ2QpYA1RDvcmzJEWhABhD/pqrL0S0CWuABKgnRki9lLseS7g2AlqwHWQSKH4oKLrILpRGhEQCw2LiRUIa4lwAAAABJRU5ErkJggg==) !important;
    background-color: #00d68f;
}

@media only screen and (max-width:768px) {
    .adjust {
        height: fit-content !important;
    }

        .adjust img {
            margin-top: 0px;
        }
}
