.active .page-link {
    background-color: orange !important;
    color: white !important
}

.page-item .disabled {
    background-color: lightgrey !important;
    color: white !important;
}

#inactive {
    color: red;
}

#active {
    color: green;
}

#nouserbgcolor {
    background-color: #F88634;
}

.text-color {
    color: white;
}
