@media only screen and (max-width:768px) {
    .adjust {
        height: fit-content !important;
        position: relative;
    }

        .adjust img {
            margin-top: 0px;
        }
}

.displayat {
    display: none;
}

.img-wrapper {
    position: relative;
}

    .img-wrapper:hover img {
        opacity: 0.5;
    }

    .img-wrapper:hover .icon {
        display: block;
    }

.icon {
    position: absolute;
    top: 28%;
    left: 48%;
}

.btn-hover-warning:hover {
    transform: scale(1.05) !important;
}
