* {
    margin: 0;
    padding: 0;
}

.icon {
    color: orange;
}

#subHeader {
    display: none;
}

.apply {
    border: 2px solid orange !important;
    color: orange !important;
    background-color: white;
}

td, th {
    border: 0;
}
#minute{
    width:150px;
}
#hour{
    width:150px;
}
#toast-container > .toast-success {
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAADsSURBVEhLY2AYBfQMgf///3P8+/evAIgvA/FsIF+BavYDDWMBGroaSMMBiE8VC7AZDrIFaMFnii3AZTjUgsUUWUDA8OdAH6iQbQEhw4HyGsPEcKBXBIC4ARhex4G4BsjmweU1soIFaGg/WtoFZRIZdEvIMhxkCCjXIVsATV6gFGACs4Rsw0EGgIIH3QJYJgHSARQZDrWAB+jawzgs+Q2UO49D7jnRSRGoEFRILcdmEMWGI0cm0JJ2QpYA1RDvcmzJEWhABhD/pqrL0S0CWuABKgnRki9lLseS7g2AlqwHWQSKH4oKLrILpRGhEQCw2LiRUIa4lwAAAABJRU5ErkJggg==) !important;
    background-color: #00d68f;
}

#toast-container > .toast-info {
    background-color: #2f96b4;
}

#footer {
    position: fixed !important;
    width: 100%;
    bottom: 0;
}