* {
    margin: 0;
    padding: 0;
}

.card-text {
    max-height: 50px !important;
    overflow: hidden;
}

.overlay {
    opacity: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    transition: 0.5s ease;
    background-color: rgba(0,0,0,0.4);
}
#filter{
    display:none !important
}
.text {
    position: absolute;
    left: 0;
    right: 0;
    top: 40%;
    margin: 0 30px;
    color: white;
    text-align: center;
}

.shareStory {
    position: relative;
}

    .shareStory:hover .overlay {
        opacity: 1;
    }


#img {
    display: block;
    width: 100%;
    height: 300px;
}

.volunteer-img {
    width: 3rem;
    height: 3rem;
}

.title {
    bottom: -12px;
    background-color: white;
    width: fit-content;
    left: 0;
    right: 0;
}

.active .page-link {
    background-color: orange !important;
    color: white !important
}

.page-link {
    color: gray !important;
}


@media only screen and (max-width:575px) {
    #hide {
        display: none;
    }

    #drop-pos {
        left: -62px;
    }

    .dropdown-border {
        border: none;
    }
}
