* {
    margin: 0;
    padding: 0;
}

.icon {
    color: orange;
}

#subHeader {
    display: none;
}

.apply {
    border: 2px solid orange !important;
    color: orange !important;
    background-color: white;
}

td, th {
    border: 0;
}
#minute{
    width:150px;
}
#hour{
    width:150px;
}